* {
  margin: 0;
  padding: 0;
  background-origin: border-box;
  list-style: none;
  text-decoration: none;
}
body,
html {
  width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left-section-top {
  background: #3cb0ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3vmin;
  width: 40vmin;
  height: 15vmin;
  padding: 5vmin 0;
}
.left-section-top img {
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left-section-top h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3.3vmin;
  padding: 5px;
  text-align: center;
}
.left-section-bottom {
  height: 85vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: red;
  gap: 5vmin;
}
.left-section-bottom-items {
  width: 40vmin;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-left: 15px;
  gap: 10px;
}
.left-section-bottom-items .test {
  width: 60px;
  height: 60px;
}

.left-section-bottom-items img {
  width: 32px;
  height: 24px;
}
.left-section-bottom-items .userdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vmin;
  text-align: center;
}

/* MIDDLE SECTION */
.middle-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.middle-section-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  width: 140vmin;
  height: 100vmin;
  background: burlywood;
  gap: 35vmin;
}
.middle-section-top-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.middle-section-top-left h1 {
  font-size: 5vmin;
  text-align: left;
}
.middle-section-top .date {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 2rem;
  font-size: 2vmin;
}
.middle-section-top-left .userdata {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.middle-section-top-left p {
  font-size: 2.5vmin;
}
.middle-section-middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: green;
  width: 140vmin;
  height: 100vmin;
  gap: 10vmin;
}
.middle-section-middle h2 {
  font-size: 3vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-right: 95px; */
}
.middle-section-middle .scheduleselect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.middle-section-middle .scheduleselect .search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.middle-section-middle .scheduleselect .month,
.middle-section-middle .scheduleselect .week,
.middle-section-middle .scheduleselect .day {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: aquamarine;
  height: 48px;
  padding: 8px;
  gap: 5px;
  font-size: 1rem;
  border-radius: 10px;
}

.middle-section-middle .scheduleselect .btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.middle-section-middle .scheduleselect .btn .refresh,
.middle-section-middle .scheduleselect .btn .reload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* width: 20vmin; */
  padding: 8px 20px;
  font-size: 1rem;
  border-radius: 15px;
  background: maroon;
}
/* .middle-section-middle .scheduleselect .btn .reload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40vmin;
  padding: 0 20vmin;
  /* font-size: 2.5vmin; *
  background: navy;
} 
/*.middle-section-middle .scheduleselect .month input{
  /* border-radius: 20px; 

.middle-section-middle .scheduleselect .week {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: darkorchid;
  height: 48px;
  padding: 5px;
  gap: 5px;
  font-size: 2vmin;
}
.middle-section-middle .scheduleselect .day {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: yellow;
  height: 48px;
  padding: 5px;
  gap: 5px;
  font-size: 2vmin;
} */
.middle-section-bottom {
  /* background: rgb(255, 0, 128); */
  width: 140vmin;
  height: 70vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 2vmin; */
}

.middle-section-bottom-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: darkblue;
  height: inherit;
  width: inherit;
  padding: 0 1vmin;
  gap: 20px;
  max-width: inherit;
  flex-wrap: wrap;
}
.middle-section-bottom-bottom-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex: 1  calc(33.33% - 100px); */
  background: wheat;
  height: 20vmin;
  width: 25vmin;
  text-align: center;
  /* padding: 0 0px; */
  border-radius: 20px;
}
.middle-section-bottom-bottom-item p {
  /* width: inherit; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.middle-section-bottom-bottom-item-error {
  width: 100%;
  /* padding: 0 5vmin; */
  height: inherit;
  background: red;
  font-size: 3vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.middle-section-bottom-bottom-item-loading {
}
/*     <div className="test-schedule-list">
      {scheduleData.map((schedule, index) => (
        <div key={index} className="schedule-item">
          <h3>Course: {schedule.course || 'Empty course'}</h3>
          <p>Lecturer: {schedule.lecturerName || 'Empty lecturer name'}</p>
          <p>Description: {schedule.description || 'Empty description'}</p>
          <p>Time: {schedule.time || 'Empty time'}</p>
          <p>Duration: {schedule.duration || 'Empty duration'}</p>
        </div>
      ))}
    </div> */
/* TOP-LEFT SECTION BG #3CB0FF */

/* CARD-1 BG #BBFAF7 */

/* CARD-1 BTN-BG  #3CB0FF*/

/* CARD-2 BG #FFD2F9 */

/* CARD-2 BTN-BG #BC57FF */

/* CARD-3 BG #D3FABB */

/* CARD-3 BTN-BG #85FF39 */
