@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Pacifico&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb; /* Lighter background */
  background-attachment: fixed;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif; /* Default font with fallback */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.MuiContainer-root {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif; /* Use Roboto for consistency in the MUI container */
}
